<h2>My Heroes</h2>

<div>
  <label for="new-hero-name">Hero Name: </label>
  <input id="new-hero-name" #heroName>

  <label for="new-hero-power">Power: </label>
  <input id="new-hero-power" #heroPower>

  <button type="button" class="add-button" (click)="add(heroName.value, heroPower.value); heroName.value=''; heroPower.value=''">
    Add Hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>

      <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </a>
  </li>
</ul>
